

h2 {
    color: #6db3bf;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin: 0 0 20px 0;
    color: #6db3bf;
}

.p-text {
    color: #6db3bf;
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 300; */
    font-size: 20px;
    margin: 0 0 20px 0;
    color: #6db3bf;
}

.unordered-list li {
    margin-top: -14px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    /* font-style: italic; */
    font-size: 15px;
    color: #707070; 
}

.unordered-list {
    margin-top: 50px;
    list-style: none;
}

