.profile-img {
    width: 200px;
    border-radius: 50%;
}

.logout-btn {
    border: 1px solid darkblue;
    border-radius: 3px;
    color: darkblue;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    margin-top: 50px;
    -webkit-transition: all 1s;
    transition: all 0.2s;
}

.logout-btn:hover {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    color: white;
}

.btn-credits {
    border-radius: 12px;

    border: none;
    padding: 16px 12px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;

    background-color: rgb(217, 234, 249, 0.2);
}

.checkout {
    display: inline-grid;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 /* .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
   */